@model IEnumerable<Galileo.Domain.Department>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    <ul>
    @foreach (var department in Model)
    {
        <ul>
            @Html.ActionLink(department.Name, "detail","department",new {department.ID}, null)
        </ul>
    }
    </ul>

</table>
