@model Galileo.Domain.Department

@{
    ViewBag.Title = "detail";
}

<h2>detail</h2>

@Html.ActionLink("Create an employee","Create","Employee", new {DepartmentId = @Model.ID}, null)
  
<table>

    <tr>
        <th>Name</th>
        <th></th>
    </tr>



</table>
